nav{
	background-color:#8f00b3;
}
nav a, a.navbar-brand{
	color: white;
	font-size: 1.5em;
}

a{
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6{
	color: #8f00b3;
}

h2{
	color: white;
}

i{
	font-size: 3em;
	color: #8f00b3;
}

i.ilink{
	font-size: 1em;
	color: white;
}

a.join-now{
	color: white;
	border-radius: 19px;
    background: #8f00b3;
    padding: 12px;
    font-size: 1.2em;
}

#whatsapp, #whatsappbutton{
	background: green;
}

#telegram, #telegrambutton{
	background: blue;
}


.steps{
	background-color: black;
}

.each-step{
	border: 1px solid white;
}

div.each-step, div.steps p{
	font-size: 1em;
	color: white;
}
div.steps h1{
	color: white;
}

div.steps i, a#whatsappbutton i, 
a#telegrambutton i{
	color: white;
}

.fa-copyright{
	font-size: 0.9em;
}

a:link{
	text-decoration: none;
}

.button a:hover, a#whatsapp:hover, a#telegram:hover, 
a#telegrambutton:hover, a#whatsappbutton:hover{
	background: black;
}

a.nav-link:hover, a.navbar-brand:hover{
	color: black;
}

li{
	list-style-type: none;
}
a#whatsappbutton, a#telegrambutton {
	font-size: 10px;
	color: white !important;
}
#whatsappbutton {
	position: fixed;
	bottom:90px;
	right: 8px;
}

#telegrambutton {
	position: fixed;
	bottom:30px;
	right: 8px;
}

a#whatsappbutton, a#telegrambutton{
	border-radius:100%;
}