body {
	background-color: black;
	color: white;
}
nav{
	background-color: blue;
}

nav p {
	font-weight: bold;
	font-family: Arial, Verdana, "Sans-serif";
}

.heading {
	font-size: 250%;
	font-weight: bold;
	font-family: Arial, Verdana, "Sans-serif";
}
 .underline {
 	text-decoration: underline;
 	font-size: 150%;
 	font-weight: bold;
 }
div.send  {
	color: white;
	font-weight: bold;
	font-size: 25px;
	height: 50px;
	font-family: "Times New Roman", Times, serif;
}

div.send {
	background-color: red;
	border-radius: 5px;

	
}
i{
	color: white;
}
a{
	text-decoration:none;
}

a:hover{
	text-decoration: none;
}