nav{
	background-color:#8f00b3;
}
nav a{
	color: white;
}
div.top{
	background-image: url("images/image2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

a{
	text-decoration: none;
}

h1, h2, h3{
	color: #8f00b3;
}

h2{
	color: white;
}
button {
	background-color: white !important;
}

i{
	font-size: 3em;
	color: #8f00b3;
}

i.ilink{
	font-size: 1em;
	color: white;
}

a.join-now{
	color: white;
	border-radius: 19px;
    background: #8f00b3;;
    padding: 12px;
    font-size: 1.2em;
}

.steps{
	background-color: black;
}

.each-step{
	border: 1px solid white;
}